{{ define "main" }}
  <section id="about">
    <img src="/img/Screenshot_20210816_124946.png" alt="Robbi Nespu" class="profile-image">
      {{ i18n "description" | $.Page.RenderString }}
  {{ if isset .Site.Params "social" }}
      <p>{{ i18n "findMe" }}
      {{ $length := (len .Site.Params.social) }}
      {{ range $index, $elem := .Site.Params.social}}
      {{ if eq $elem.name "email" }}
        <a class="icon" target="_blank" rel="noopener" href="mailto:{{ $elem.link }}" aria-label="Email">
          <i class="fas fa-envelope" aria-hidden="true"></i>
        </a>
        {{ else if eq $elem.name "rss" }}
        <a class="icon" target="_blank" rel="noopener" href="{{ $elem.link }}" aria-label="RSS">
          <i class="fas fa-rss" aria-hidden="true"></i>
        </a>
        {{ else if eq $elem.name "scholar" }}
        <a class="icon" target="_blank" rel="noopener" href="{{ $elem.link }}" aria-label="Google Scholar">
          <i class="fas fa-graduation-cap" aria-hidden="true"></i>
        </a>
        {{ else }}
        <a class="icon" target="_blank" rel="noopener" href="{{ $elem.link }}" aria-label="{{ $elem.name }}">
          <i class="fab fa-{{ lower $elem.name }}" aria-hidden="true"></i>
        </a>{{ if (lt (add $index 2) $length) }}{{- print "," -}}{{ else if (lt (add $index 1) $length) }}{{- print (i18n "and") -}}{{ else }}{{- print "." -}}{{ end }}
        {{ end }}
      {{ end }}
      </p>
  {{ end }}
  {{ partial "optional-about.html" . }}
  </section>

  {{ if eq .Site.Params.showWritingsOnHomePage true }}
  <section id="writing">
    <span class="h1"><a href="{{ .Site.Params.mainSection | relURL }}">{{ i18n "mainSectionTitle" }}</a></span>
    {{ if (and (and (isset .Site.Params "tagsoverview") (eq .Site.Params.tagsOverview true)) (gt (len .Site.Taxonomies.tags) 0)) }}
    <span class="h2">Topics</span>
    <span class="widget tagcloud">
      {{ $AllRegularPagesCount := len .Site.RegularPages }}
      {{ range $elem := .Site.Taxonomies.tags.Alphabetical }}
      <a style="font-size: {{ (add 0.5 (mul 5 (div (float $elem.Count) $AllRegularPagesCount))) }}rem;" href="{{ $elem.Page.Permalink }}">
        {{- .Page.Title -}}
      </a>
      {{ end }}
    </span>
    <span class="h2">Most recent</span>
    {{ end }}

    {{ $showAllPostsOnHomePage := false }}
    {{ if (isset .Site.Params "showallpostsonhomepage") }}
      {{ $showAllPostsOnHomePage = .Site.Params.ShowAllPostsOnHomePage }}
    {{ end }}
    {{ $dataFormat := .Site.Params.dateFormat | default "2006-01-02" }}
    {{ $mainPosts := (sort ( where site.RegularPages "Type" "in" site.Params.mainSections ) "Date" "desc") }}
    {{ $mainPosts := $mainPosts | intersect  ( where .Site.RegularPages "Params.webmentionDelete401" "!=" "true" ) }}
    {{ $mainPosts := $mainPosts | union  ( where .Site.RegularPages ".Draft" true ) }}
    {{ $mainPosts := $mainPosts | intersect (where site.RegularPages "Type" "in" site.Params.mainSections) }}

    {{ if $showAllPostsOnHomePage }}
    <ul class="post-list">
      {{ range (.Paginate $mainPosts).Pages }}
        <li class="post-item">
          <div class="meta"><time datetime="{{ time .Date }}" itemprop="datePublished">{{ .Date.Format $dataFormat }}</time></div>
          <span>{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}<a href="{{ .RelPermalink }}">{{ if .Title }} {{- .Title -}} {{ else }} {{- print "Untitled" -}}{{ end }}</a></span>
        </li>
      {{ end }}
    </ul>

    {{ partial "pagination.html" . }}

    {{ else }}
    <ul class="post-list">
      {{ .Scratch.Set "count" 5 }}
      {{ if isset .Site.Params "postsonhomepage" }}
        {{ .Scratch.Set "count" .Site.Params.postsOnHomePage }}
      {{ end }}
      {{ range (first (.Scratch.Get "count") $mainPosts) }}
        <li class="post-item">
          <div class="meta"><time datetime="{{ time .Date }}" itemprop="datePublished">{{ .Date.Format $dataFormat }}</time></div>
          <span><a href="{{ .RelPermalink }}">{{ if .Title }} {{- .Title -}} {{ else }} {{- print "Untitled" -}}{{ end }}</a></span>
        </li>
      {{ end }}
    </ul>
    {{ end }}
  </section>
  {{ end }}

  {{ $showProjectsList := false }}
  {{ if (isset .Site.Params "showprojectslist") }}
    {{ $showProjectsList = .Site.Params.showProjectsList }}
  {{ else if .Site.Data.projects }}
    {{ $showProjectsList = true }}
  {{ end }}
  {{ if $showProjectsList }}
    {{ $projectsUrl := "#" }}
    {{ if isset .Site.Params "projectsurl" }}
      {{ $projectsUrl = .Site.Params.projectsUrl }}
    {{ end }}
  <section id="projects">
    <span class="h1"><a href="{{ $projectsUrl }}">Projects</a></span>
    <ul class="project-list">
        {{ range .Site.Data.projects.list }}
        <li class="project-item">
          <a href="{{ .url }}">{{ .name }}</a>: {{ .desc | markdownify }}
        </li>
        {{ end }}
    </ul>
  </section>
  {{ end }}
  {{ $showNews := false }}
  {{ if (isset .Site.Params "news") }}
    {{ $showNews = .Site.Params.News.enabledOnHomePage | default false }}
  {{ end }}
  {{ if $showNews }}
  <section id="news">
    <span class="h1"><a href={{ "news" | absURL }}>News</a></span>
    <ul class="news-list">
      {{ $newsLimit := .Site.Params.News.NewsOnHomePage | default 5 }}
      {{ range first $newsLimit .Site.Data.news.list }}
      <li class="news-item">
        {{ .date }}:
        {{ if .url }}<a href="{{ .url }}">{{ end }}
          {{ .desc | markdownify }}
        {{ if .url }}</a>{{ end }}
      </li>
      {{ end }}
  </ul>
  </section>
  {{ end }}

  <!-- Clients -->
  {{ if eq .Site.Params.showClientsOnHomePage true }}
  <section id="clients">
    <span class="h1"><a href={{ "client" | absURL }}>FOSS involvement and Professional clients</a></span>
    <p>
      My involvement with FOSS (Free Open Source Software) movement and my own <a href="/client">clients</a> vary from small startups to goverments and everything in between.
    </p>
    <div class="client-list">
      {{ range first 8 (where .Site.RegularPages "Section" "in" (slice "client")) }}
        <div class="client-item">
          <a href="{{ .RelPermalink }}">
            <img class="client-image" src="{{ .Site.BaseURL }}/img/{{.Params.image_preview}}" alt="{{- .Title -}} {">
          </a>
        </div>
      {{ end }}
    </div>
  </section>
  {{ end }}

  <!-- Projects -->
  {{ if eq .Site.Params.showProjectOnHomePage true }}
  <section id="projects">
    <span class="h1"><a href={{ "projects" | absURL }}>Projects (professional & personal)</a></span>
    <p>
      When I'm not working I'd like to spend my time on different <a href="/projects">projects</a>. 
      Below you will find both professional & personal projects.
    </p>
    <div class="project-list">
      <div class="project-item">
        <a href="https://webring.stavros.io">
          <h3>Member of the Tech makers webring</h3>
          <img class="project-image" src={{ "webring.png" | absURL }} alt="">
        </a>
        <div class="webring-links">
          <a class="webring prev" href="https://webring.stavros.io/prev">Previous</a>
          <a class="webring rand" href="https://webring.stavros.io/random">Random</a>
          <a class="webring next" href="https://webring.stavros.io/next">Next</a>
        </div>
      </div>
      {{ range first 5 (where .Site.RegularPages "Section" "in" (slice "projects")) }}
        <div class="project-item">
          <a href="{{ .RelPermalink }}">
          <h3>{{ if .Title }} {{- .Title -}} {{ else }} {{- print "Untitled" -}}{{ end }}</h3>
          <img class="project-image" src="{{ .Site.BaseURL }}/img/{{.Params.image_preview}}" alt="">
          
          </a>
        </div>
      </a>
      {{ end }}
    </div>
  </section>
  {{ end }}

{{ end }}
